h1{
    margin-bottom: 1rem;
    text-align: center;
}

.cart-item-container{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    text-decoration: none;
}

.cart-details{
    margin-top: 1rem;
    text-align: center;

    .buy-btn{
        background: var(--clr-primary);
        border-radius: 8px;
        color: var(--clr-secondary);
        margin: 10px 0;
        padding: 8px;
        width: 50%;
    }

    .buy-btn:hover{
        background: var(--clr-primary);
        border-radius: 8px;
        color: var(--clr-secondary);
        cursor: pointer;
        padding: 8px;
        margin: 10px 0;
        width: 50%;
    }
}
