.buy-btn{
    padding: 10px;
    background: var(--clr-primary);
    border:1px solid var(--clr-primary);
    border-radius: 8px;
    color: var(--clr-secondary);
    cursor: pointer;
    margin: 1rem auto;
    width: 70%;
}

.buy-btn:hover{
    border:1px solid var(--clr-primary);
    background: var(--clr-secondary);
    border-radius: 8px;
    color: 1px solid var(--clr-secondary);
    cursor: pointer;
    padding: 10px;
    width: 70%;
    margin: 1rem auto;
}

.cart-item{
    margin: "0.2rem";
    list-style-type: none;
    display: "grid";
    grid-template-columns: 20% 1fr;
}

.cart-title{
    margin: 30px 0;
}

.cart-grid{
    display: grid;
    // grid-template-columns: 70% 1fr;
    gap:1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(50%);
}

.buy-btn-container{
    text-align: center;
}

.cart-details{
    text-align: center;
    margin-top: 30px;

    p{
        display: inline-block;
        margin-right: 20px;
    }

    strong{
        display: inline-block;
    }
}