header{
    background: var(--clr-secondary);

    nav{
        background: var(--clr-secondary);
        margin: auto;
        padding: 1rem 0rem 3rem 0rem;
        width: 80%;
        
        .logo-container{
            background: transparent;
            display: block;
            float: left;
            height: 100%;    
            width: 20%;

            img{
                background: transparent;
                display: inline-block;
                height: 1rem;
                margin-right: 1rem;
            }
            
            h1{
                background: transparent;
                color: var(--clr-primary);
                display: inline-block;
                height: 1rem;
            }
        }

        .cart-info{
            background: transparent;
            float: right;
            width: 5%;
            
            p{
                background: transparent;
                color: var(--clr-primary);
                display: inline-block;
                height: 1rem;
                margin-left: 0.4rem;
                width: 10%;
            }
            
            img{
                background: transparent;
                display: inline-block;
                height: 1rem;
            }
        }
    }
}