.card{
    box-shadow: 4px 4px 5px -5px grey;
    background: var(--clr-secondary);
    border-radius: 5px;
    padding: 0.3rem;
    text-align: center;

    img{
        object-fit: cover;
    }

    .card-title{
        background: var(--clr-secondary);
        height: 1rem;
        overflow: hidden;
        background: transparent;
    }

    .card-price{
        color: var(--clr-primary);
        background: var(--clr-secondary);
    }

    .add-button{
        background: var(--clr-secondary);
        border: 1px solid var(--clr-primary);
        color: var(--clr-primary);
        border-radius: 3px;
        margin: 10px;
        padding: 8px;
    }

    .add-button:hover{
        cursor: pointer;
        background: var(--clr-primary);
        color: var(--clr-secondary);
    }
    
    .prices{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: transparent;
        margin: 0.4rem 0;

        .original-price{
            background: transparent;
            padding: 0 2rem;
            text-decoration: line-through;
        }

        .current-price{
            background: transparent;
            padding: 0 2rem;
        }
    }
}

.card:hover{
    box-shadow: 5px 2px 15px 5px grey;
}

.quantity-info{
    padding: 0.2rem 2rem;
    background: transparent;
    display: grid;
    height: 2rem;
    grid-template-columns:  1fr 60% 1fr;

    button{
        border: 0;
        background: var(--clr-primary);
        border-radius: 4px;
        color: var(--clr-secondary);
        cursor: pointer;
        font-weight: bold;
    }

    span{
        background: transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}
