.category-name{
    margin: 1rem 0rem;
}

.card-container{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.load-button{
    background: var(--clr-secondary);
    border-radius: 5px;
    color: var(--clr-primary);
    padding:0.8rem 0.6rem;
    width: 18rem;
}

.load-button:hover{
    background: var(--clr-primary);
    border-radius: 5px;
    border: 1px solid var(--clr-primary);
    color: var(--clr-secondary);
    cursor: pointer;
    padding:0.8rem 0.6rem;
    width: 18rem;
}

.button-container{
    margin: 1rem auto;
    text-align: center;
}