.card{
    box-shadow: 4px 4px 5px -5px grey;
    background: var(--clr-secondary);
    border-radius: 5px;
    cursor: pointer;
    padding: 0.3rem;
    text-align: center;
}

.card:hover{
    box-shadow: 5px 2px 15px 5px grey;
}

.card-title{
    background: var(--clr-secondary);
    height: 2.2rem;
    overflow: hidden;
}

.card-price{
    color: var(--clr-primary);
    background: var(--clr-secondary);
}

.card-img{
    object-fit: cover;
}

.card-button{
    background: var(--clr-secondary);
    padding: 8px;
    border: 1px solid var(--clr-primary);
    border-radius: 3px;
    color: var(--clr-primary);
    margin: 10px;
}

.card-button:hover{
    cursor: pointer;
    background: var(--clr-primary);
    color: var(--clr-secondary);
}

.originalPrice{
    text-decoration: line-through;
    color: "black";
    display: inline-block;
    width: 50%;
    background: transparent;
}

.price{
    background: transparent;
    color: var(--clr-primary);
    display: inline-block;
    width: 50%;
}

.prices{
    background: transparent;
}
